div img{
    width: 125px;
}

div {float: left;}

#pizzaDesc{
    width: 400px;
}

#pizzaCell{
    background-color: #d3e8f8;
    box-shadow: 8px 8px 10px #00000033;
    margin: 25px;
    width: fit-content;
    height: fit-content;
    padding: 10px 40px 10px 0px;
    border-radius: 4%;
}

#pizzaCell:hover{
    scale: 1.2;
}

button{
    background-image: url("img/shopping.png");
    background-size:cover;
    width: 35px;
    height: 35px;
    float:left;
}

#buyButton p{
    display: inline;
    margin-left: 10px;
    color:darkgreen;
    font-weight: bold;
}

#buyButton button{
    margin-top:-6px;
}