div img{
    width: 125px;
}

div {float: left;}

#pizzaDesc{
    width: 400px;
}

#pizzaCell{
    background-color: #d3e8f8;
    box-shadow: 8px 8px 10px #00000033;
    margin: 25px;
    width: fit-content;
    height: fit-content;
    padding: 10px 40px 10px 0px;
    border-radius: 4%;
}